@import 'nullstyle.scss';


body {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   height: 100vh;
   &.locked {
      overflow: hidden;
   }
}
.modal__btn {
   padding: 12px 24px;
   background-color: #fff;
   color: #000;
   border: 1px solid #000;
   font-size: 24px;
   transition: all .3s;
   &:hover {
      background-color: #000;
      color: #fff;
      border: 1px solid #fff;
   }
}


.modal {
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   visibility: hidden;
   opacity: 0;
   transition: all .2s;
   pointer-events: none;
   &.active {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
   }
   
      z-index: 10;
   &__bg {
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.8);
      padding: 20px;
      display: flex; 
   }

   &__body {
      padding: 24px;
      background-color: #fff;
      width: 700px;
      margin: auto;
      max-height: 90%;
      overflow: auto;
      border-radius: 16px;
      position: relative;
      
   }

   &__close {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 12px;
      right: 12px;
      
      cursor: pointer;
      svg {
         max-width: 100%;
         object-fit: cover;
      }
   }

   &__content {
   }
}
.modal-callback {

   &__title {
      font-size: 24px;
   }

   &__text {
      font-size: 18px;
   }
}
