@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
}
body.locked {
  overflow: hidden;
}

.modal__btn {
  padding: 12px 24px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  font-size: 24px;
  transition: all 0.3s;
}
.modal__btn:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
  z-index: 10;
}
.modal.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.modal__bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  display: flex;
}
.modal__body {
  padding: 24px;
  background-color: #fff;
  width: 700px;
  margin: auto;
  max-height: 90%;
  overflow: auto;
  border-radius: 16px;
  position: relative;
}
.modal__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.modal__close svg {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-callback__title {
  font-size: 24px;
}
.modal-callback__text {
  font-size: 18px;
}